.group-name{width: 85%;height: 25px;}
.layui-header-search{width:300px;line-height:60px;text-align:center;font-size:16px;top:11px;padding-right:10px}
.nav-right-top{z-index:99999}
.nav-right-top>.layui-tab-title>.layui-this{
    background-color:#009688 !important;color:#fff !important;border-style:hidden!important;
}

.layui-tab-div{margin:0px auto !important;}

.layui-form-static{min-height:36px;margin-left:110px;line-height:36px;}

.layui-nav-tree a {
    font-size: 10px;
}

.layui-nav-tree span {
    font-size: 10px;
}

.left-method {
    width: 40px;
    text-align: right;
    line-height: 40px;
}
.right-content-div{
    margin: 0px 0px 15px 97px;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-right-15{
    padding-right: 15px;
}

.padding-left-level-2{
    padding-left: 30px;
}
.padding-left-level-3{
    padding-left: 60px;
}
.padding-left-level-4{
    padding-left: 90px;
}
.padding-left-level-5{
    padding-left: 120px;
}
.padding-left-level-6{
    padding-left: 150px;
}
.padding-left-level-7{
    padding-left: 180px;
}
.padding-left-level-8{
    padding-left: 210px;
}
.request-table-div{
    margin: 0 auto;
    /*padding-left: 36px;*/
}
.layui-form-label {
    position: relative;
    float: left;
    display: block;
    padding: 9px 0px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.layui-table-cell {
    height:auto !important;
}

.debug-span-value {
    color: #4dc095;
    font-size: 12px;
    font-weight: bold;
}
.debug-span-value-error {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.debug-request-table input[type=checkbox]{
    width: 15px;height: 15px;
}
.debug-response-info{
    right: 40px;position: absolute;margin-top: -31px;z-index: 9999;
}

.right-left-nav{
    width: 97px;height: 85px;position: absolute;top: 100px;
}
.right-left-nav>li{
    display: list-item;
}

.right-left-content{
    height: 100%;padding:20px 20px 15px 15px!important;
}


/** 右侧 tab  **/
.nav-right-top>.layui-tab-title li {
    position: relative;
    line-height: 40px;
    min-width: 65px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    border-bottom-color: #fff;
    border-right-color: #EEE;
    border-left-color: #fff;
    border-top-color: #fff;
}
.nav-right-top>.layui-tab-title {
    position: fixed;
    left: 250px;
    height: 40px;
    white-space: nowrap;
    font-size: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: all .2s;
    -webkit-transition: all .2s;
    width: 100%;
    z-index: 99999;
    background: #fff;
}
.right-content-nav>.layui-tab-title>.layui-tab-bar {
    display: none!important;
}
.right-content-nav>.layui-tab-title li {
    position: relative;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

/** 调整左侧**/
.layui-body {
    position: relative;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
    width: auto;
    box-sizing: border-box;
}
.layui-nav-tree {
    width: 250px;
    padding: 0;
}
.layui-side-scroll {
    position: relative;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
}
.layui-layout-admin .layui-side {
    top: 60px;
    width: 250px;
    overflow-x: hidden;
}
.layui-layout-admin .layui-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #009688;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    color: transparent;
}
::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(16,31,28,0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144,147,153,.5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144,147,153,.3);
}